*{
    margin: 0;
    padding: 0;
}.bg-black{
    background-color: #000 !important;
}
.bg-naranja{
    background-color: #FF3D00 !important;
}
.navbar-brand{
    margin: 15px;
}
.logoLlamarada{
    background-image: url('../img/logoLlamarada.svg');
    background-repeat: no-repeat;
    display: block;
        width: 400px;
        height: 100%;
        padding: 1rem;
}
.active{
    color: #FF3D00 !important;
}
.nav-link{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}
.bannerInicio{
    background-image: url(../img/bannerInicio.png);
    width: 100%;
    height:400px;
}
.textoPrincipal{
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    color: #FFFFFF;
    text-shadow: 0px 4px 54px rgba(255, 255, 255, 0.6);
    padding: 3rem 3rem 0rem 3rem;
}
.textoNormal{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
.bannerTextos{
    padding-left: 3rem;
}
.btn{
    border-radius: 0px;
    border: none;
}
.colorNaranja{
    color:#FF3D00;
}
.colorNegro{
    color:#000;
}
.colorBlanco{
    color: #fff;
}
a:hover{
    color: white;
}
.colorNaranjaFondo{
    background-color: #FF3D00;
}
.colorNegroFondo{
    background-color: #000;
}
.btn-primary:hover{
    background-color: black;
}
.btn-secondary:hover{
    background-color: #fff;
    color: #000;
}
.footer{
    padding: 1rem;
}
.colorNaranjaFondoSuave{
    background: #F2994A;
}
.titulo{
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
}
.elementoForm{
    padding: 20px;
}