/*colores*/
$colorPrimario:#FF3D00;
$colorSecundario:#F2994A;
$colorNegro:#131313;
$colorBlanco:#fff;
/*familias de fuentes*/
$rubik: Rubik Mono One;
$robotoMono: Roboto Mono;
/*tamaños*/
    /*web*/
    $webH1: 64px;
    $webLogo: 36px;
    $webSubtitulo: 28px;
    $webBody: 24px;
    $webMenores: 18px;
    /*mobile*/
    $mobileH1: 24px;
    $mobileLogo: 30px;
    $mobileSubtitulo: 24px;
    $mobileBody: 18px;
    $mobileMenores: 10px;
