/*colores*/
$colorPrimario: #FF3D00;
$colorSecundario: #F2994A;
$colorNegro: #131313;
$colorBlanco: #fff;
/*familias de fuentes*/
$rubik: "font-family: Rubik Mono One";
$robotoMono: font-family: Roboto Mono;
/*tamaños*/
    /*web*/
    $webH1: font-size: 64px;
    $webLogo: font-size: 36px;
    $webBody: font-size: 24px;
    $webMenores: font-size: 18px;
    /*mobile*/
    $mobileH1: font-size: 24px;
    $mobileLogo: font-size: 30px;
    $mobileBody: font-size: 18px;
    $mobileMenores: font-size: 10px;

